body{
    background-color: rgb(208, 236, 211);
}
.navbar{
    margin-left: 50%;
    margin-bottom: 20px;
}
.navbar a{
    text-decoration: none;
    
    margin-right: 20px;
    
}
a:hover {
    background-color: lightgreen;
}
.prof{
    margin-left: 30px;
}
.prof img{
    height: 320px;
    width: 300px;
border-radius: 50%;
}
.prof .abt{
    margin-left: 80px;
    font-size: 20px;
}
.prof .abt i{
    padding: 10px;
    
}
.bio{
    
float: right;
width: 40%;
margin-top: -35%;
margin-right: 30%;
word-spacing: 5px;
font-size:20px;
}

.edu{
    
    margin-top: -9%;
    
    margin-left:50%;
    font-size:20px;
    height: 10%;
    
}
.edu li{
    list-style: none;
   

}
/* .edu ul {
    display: flex;
} */
